@import "backend/submissions.less";

// Style the new custom "Language: " text before language selection
.usernav_language {
    color: #ffff66;
    white-space:pre;
//    background-color: @bg-anchor;
    position:absolute;
    right:100%;
    margin-right:.25em;
    padding-left: .5em;
}

.pkp_navigation_user #navigationUser {
//    background-color: @bg-anchor;
}

#navigationUser .languages {
    position:relative;
    margin-left: 6.5em;
}

a {
    color: #0072a7;
}
.ui-tabs-nav .ui-state-active a {
    color: #666;
}