// can override variables here, as well as rules
@import "pages/issueArchive.less";
@import "objects/article_details.less";
@import "objects/galley_link.less";
@import "objects/issue_toc.less";
@import "body.less";
@import "footer.less";
@import "debug.less";

.columns {
display:flex; 
flex-flow: row wrap; 
justify-content: center; 
align-items: stretch; 
align-content: flex-start;}

.column {
    flex-grow: 1;
}