// can override variables here, as well as rules

@import "variables.less";
@import "helpers.less";
@import "components.less";
@import "body.less";
@import "pages/issueArchive.less";
@import "pages/indexJournal.less";
@import "objects/article_details.less";
@import "objects/article_summary.less";
@import "objects/galley_link.less";
@import "objects/issue_toc.less";
@import "footer.less";
@import "head.less";
@import "sidebar.less";
@import "remove-borders.less";

.columns {
display:flex; 
flex-flow: row wrap; 
justify-content: center; 
align-items: stretch; 
align-content: flex-start;}

.column {
    flex-grow: 1;
}